{{template "layout.html.tmpl" .}}

{{ define "PageStyle"}}
style="background-color: #FFE686;"
{{end}}

{{define "body"}}
	{{range .Bookings}}
	<h1>ADMIN: Update Booking #{{.Id}}</h1>
	<div id="form-container" class="admin-view">
	<p>Existing Booking Details:</p>
	<div class='bookings-panel {{if eq .Status "cancelled"}}cancelled{{else if eq .Status "paid"}}paid{{else}}unpaid{{end}}'>
		<div class="admin-panel">
			<h2>Booking Details: #<span id="booking-id">{{.Id}}</span></h2>
			<p><strong>Room: </strong><span id="original-room">{{.RoomName}}</span></p>
			<p><strong>Booking Date: </strong><span id="original-booking-date">{{.StartTime.Format "2006-01-02"}}</span></p>
			<p><strong>Booking Time: </strong><span id="original-start-time">{{.StartTime.Format "15:04"}}</span>-<span id="original-end-time">{{.EndTime.Format "15:04"}}</span></p>
			<p><strong>Session Type: </strong>{{.Type}}</p>
			<p><strong>Cymbals: </strong>{{if .Cymbals}}Yes{{else}}No{{end}}</p>
			<p><strong>Price: </strong>£{{.Price}} (+ Discount £{{.DiscountAmount}})</p>
			<p><strong>Payment Method: </strong>{{.PaymentMethod}}</p>
			<p><strong>Status: </strong>{{.Status}}</p>
			<p><strong>Booking Notes: </strong>{{.BookingNotes}}</p>
		</div>
		<div class="admin-panel">
			<h2>Customer Details:</h2>
			<p><strong>Name: </strong>{{.CustomerName}}</p>
			<p><strong>Phone: </strong>{{.CustomerPhone}}</p>
			<p><strong>Email: </strong>{{.CustomerEmail}}</p>
		</div>
	</div>
	<form id="form" method="POST" action="/" class="max-w-lg mx-auto p-6">
		<!-- <script src="/static/js/price-calculator.js"></script> -->
		<script src="/static/js/booking-summaries.js"></script>
		<script src="/static/js/select-button.js"></script>
		<script src="/static/js/price-calculator.js"></script>
		<script src="/static/js/admin/form-submission.js"></script>

		<!-- Session Type Selection -->
		<div id="session-types">
			<h3>Session type:</h3>
			<!--  Toggle buttons for selecting solo or band sessions -->
			<div id="session-type-container">
				<button type="button" class='toggle-button {{if eq .Type "band"}} selected {{ else }} {{end}}' data-value="band" onclick="selectButton(this)">Band</button>
				<button type="button" class='toggle-button {{if eq .Type "solo"}} selected {{ else }} {{end}}' data-value="solo" onclick="selectButton(this)">Solo</button>
				<!-- Hidden input to store the selected session type -->
				<input type="hidden" id="session-type" name="type" value="band">
			</div>
		</div>

		<!-- Date  Selection -->
		<div class="date-selection">
			<h3>Pick New Date:</h3>
			<div class="flex-container">
				<button type="button" id="prev-day">← Previous Day</button>
				<input type="date" id="date-input" name="date" value='{{.StartTime.Format "2006-01-02"}}'>
				<button type="button" id="next-day">Next Day →</button>
				<script src="/static/js/date-picker-functions.js"></script>
				<script src="/static/js/date-picker-events.js"></script>
			</div>
		</div>

		<!-- Time & Room Selection -->
		<div class="time-selection">
			<div id="time-slot-container">
				<!-- Hidden input to store the room, start time & end time -->
				<input type="hidden" id="start-time" name="start-time" value='{{.StartTime.Format "15:04"}}'>
				<input type="hidden" id="end-time" name="end-time" value='{{.EndTime.Format "15:04"}}'>
				<input type="hidden" id="room" name="room" value="{{.RoomName}}">
				<h3>Select your timeslot</h3>
				<table>
					<colgroup>
						<col style="width: 40%;">
						<col style="width: 30%;">
						<col style="width: 30%;">
					</colgroup>
					<thead>
						<tr>
							<th class="date-header"></th>
							<th colspan="2" id="selected-date" class="date-header"><span id="formatted-date"></span></th>
						</tr>
						<tr>
							<th>Hour</th>
							<th>Room 1</th>
							<th>Room 2</th>
						</tr>
					</thead>
					<tbody>
						<!-- Time slots are generated here -->
						<script src="/static/js/timeslot-table.js"></script>
						<script src="/static/js/timeslot-availability.js"></script>
						<script src="/static/js/timeslot-selections.js"></script>
						<script src="/static/js/admin/timeslot-existing.js"></script>
					</tbody>
				</table>

			</div>
		</div>
		<h3>Additional Equipment</h3>
		<div>
			<input type="checkbox" class="cymbals" id="cymbals" {{if .Cymbals}}checked{{end}}>
			<label for="cymbals" class="cymbals">Cymbals - £3 Surcharge</label>
		</div>
		<!-- Customer Details -->
		<div class="customer-details">
			<h3>Customer Details:</h3>
			<!--  Customer details form -->
			<div class="customer-details-container">
				<label for="customer-name">Name:</label>
				<input type="text" 
						id="customer-name"
						name="name"
						value="{{.CustomerName}}"
						required>
				<label for="customer-phone">Phone:</label>
				<input type="tel"
						id="customer-phone"
						name="phone"
						value="{{.CustomerPhone}}"
						pattern="(\+44\s?7\d{3}|\(?07\d{3}\)?)\s?\d{3}\s?\d{3}"
						required>
				<label for="customer-email">Email:</label>
				<input type="email"
						id="customer-email" 
						name="email"
						value="{{.CustomerEmail}}"
						required>
			</div>
		</div>
		<div>
		<h3>Price, Status & Notes</h3>
			<label for="status">Status:</label>
			<select id="status" name="status">
			  <option value="unpaid" {{if eq .Status "unpaid"}}selected{{end}}>Unpaid</option>
			  <option value="paid" {{if eq .Status "paid"}}selected{{end}}>Paid</option>
			  <option value="cancelled" {{if eq .Status "cancelled"}}selected{{end}}>Cancelled</option>
			</select>
			<label for="booking-notes">Booking Notes:</label>
			<textarea id="booking-notes" rows="6" maxlength="500">{{.BookingNotes}}</textarea>
			<br>	
			<p style="margin: 5px">Price for the session: <strong><span id="price" class="price">£0.00</span></strong></p>
			<label for="revised-price">Revised price:</label>
			<input type="number" id="revised-price" step="0.01">
			<br>
			<label for="payment-method">Payment Method:</label>
			<select id="payment-method" name="payment-method">
			  <option value="online" {{if eq .PaymentMethod "online"}}selected{{end}}>Online</option>
			  <option value="in_studio" {{if eq .PaymentMethod "in_studio"}}selected{{end}}>Pay At Studio</option>
			  <option value="regulars" {{if eq .PaymentMethod "regulars"}}selected{{end}}>Weekly Regulars</option>
			</select>
		</div>
		<!-- Updated details summary-->
		<div class="submit-button"> 
		<button type="button" onclick="updatedDetails()">Review Changes</button>
		</div>
		<h3>Updated Booking Details:</h3>
		<span class='bookings-panel update' id="updated-details"></span>

		<!-- Submit Button -->
		<div class="submit-button">
			<button type="submit" id="submit-button">Confirm</button>
			<script>
				let form = document.getElementById('form')
				form.addEventListener('submit', async function (e) {
					e.preventDefault()
					adminUpdateBooking();
				});
			</script>
		</div>
	</form>
	{{ end }}
</div>
<div id="success" style="display: none">
	<h1>Booking Updated!</h1>
</div>
{{end}}
