{{template "layout.html.tmpl" .}}
{{ define "PageStyle"}}
style="background-color: #D1C3F3;"
{{end}}

{{define "body"}}
<div class="flex-container">
	<h1>AVAILABILITY</h1>
	<div class="flex-container" style="justify-content: right;">
		<button onclick="window.location.href='/admin/bookings/new'" style="flex: 0;">NEW BOOKING</button>
		<button onclick="window.location.href=window.location.origin + '/admin/bookings?date=' + new URLSearchParams(window.location.search).get('date')" style="flex: 0;">BOOKINGS LIST</button>
	</div>
</div>
<div class="admin-view">
	<!-- Date Selection -->
	<div class="date-selection">
		<h3>Pick your date:</h3>
		<!--  Date picker for booking -->
		<div class="flex-container">
			<button type="button" id="prev-day">← Previous Day</button>
			<input type="date" id="date-input" name="date">
			<button type="button" id="next-day">Next Day →</button>
		</div>
	</div>
	<!-- Time & Room Selection -->
	<div class="time-selection">
		<div id="time-slot-container">
			<table>
				<colgroup>
					<col style="width: 40%;">
					<col style="width: 30%;">
					<col style="width: 30%;">
				</colgroup>
				<thead>
					<tr>
						<th class="date-header"></th>
						<th colspan="2" id="selected-date" class="date-header"><span id="formatted-date"></span></th>
					</tr>
					<tr>
						<th>Hour</th>
						<th>Room 1</th>
						<th>Room 2</th>
					</tr>
				</thead>
				<tbody>
					<!-- Time slots are generated here -->
					<script src="/static/js/timeslot-table.js"></script>
					<script src="/static/js/timeslot-availability.js"></script>
					<script src="/static/js/date-picker-functions.js"></script>
					<script src="/static/js/admin/date-picker-events.js"></script>
				</tbody>
			</table>
		</div>
	</div>
</div>

{{end}}
