{{template "layout.html.tmpl" .}}
{{ define "PageStyle"}}
style="background-color: #D1C3F3;"
{{end}}
{{define "body"}}
<div class="admin-view">
<div class="flex-container">
    <h1>AVAILABILITY</h1>
    <div class="flex-container" style="justify-content: right;">
        <button onclick="window.location.href='/admin/bookings/new'" style="flex: 0;">NEW BOOKING</button>
        <button onclick="window.location.href=window.location.origin + '/admin/bookings?date=' + new URLSearchParams(window.location.search).get('date')" style="flex: 0;">BOOKINGS LIST</button>
        <button onclick="window.location.href='/admin/bookings/all'" style="flex: 0;">ALL BOOKINGS</button>
    </div>
</div>
<button onclick="window.location.href='/admin/codes'" style="flex: 0;">CODES</button>
<div class="date-selection">
	<h3>Pick your date:</h3>
	<!--  Date picker for booking -->
	<div class="flex-container">
		<button type="button" id="prev-day">← Previous Day</button>
		<input type="date" id="date-input" name="date">
		<button type="button" id="next-day">Next Day →</button>
		<script src="/static/js/date-picker-functions.js"></script>
		<script src="/static/js/timeslot-availability.js"></script>
	</div>
</div>
<div style="display: flex; gap: 5px; align-items: center; flex-wrap: wrap;">
    <h3>LEGEND:</h3>
	<p class="legend paid">PAID</p>
	<p class="legend unpaid">UNPAID</p>
	<p class="legend regulars">REGULAR</p>
	<p class="legend held">HELD</p>
    <p class="legend rec-room">REC-ROOM FLAG</p>
</div>	
<div>
    <h2>{{.Date}}</h2>
    <div class="calendar-view">
        <table>
			<colgroup>
				<col style="width: 40%;">
				<col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
			</colgroup>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Room 1</th>
                    <th>Room 2</th>
                    <th>Rec Room</th>
                </tr>
            </thead>
            <tbody>
                {{ range .TimeSlots }}
                <tr style="height: 40px;">
                    <td>{{.StartTime.Format "15:04"}} - {{.EndTime.Format "15:04"}}</td>
                    <td class="calendar-cell">
                        {{ range .Room1Bookings }}
                        <div class="calendar-cell {{ if eq .PaymentMethod "regulars"}}regulars{{else if eq .Status "paid"}}paid{{else if eq .Status "unpaid"}}unpaid{{end}}">
                            <p class="calendar-cell">{{.CustomerName}}</p>
                            <p class="calendar-cell">{{.Type}}{{ if eq .Cymbals 1}} with hired cymbals{{else}}{{end}}</p>
                        </div>
                        {{ end }}
                    </td>
                    <td class="calendar-cell">
                        {{ range .Room2Bookings }}
                        <div class="calendar-cell {{ if eq .PaymentMethod "regulars"}}regulars{{else if eq .Status "paid"}}paid{{else if eq .Status "unpaid"}}unpaid{{else if eq .Status "hold"}}held{{end}} {{if eq .RoomName "Rec Room"}}rec-room{{end}}">
                            <p class="calendar-cell">{{.CustomerName}}</p>
                            <p class="calendar-cell">{{.Type}}{{ if eq .Cymbals 1}} with hired cymbals{{else}}{{end}}</p>
                        </div>
                        {{ end }}
                    </td>
                    <td class="calendar-cell">
                        {{ range .RecRoomBookings }}
                        <div class="calendar-cell {{ if eq .PaymentMethod "regulars"}}regulars{{else if eq .Status "paid"}}paid{{else if eq .Status "unpaid"}}unpaid{{else if eq .Status "hold"}}held{{end}} {{if eq .RoomName "Rec Room"}}rec-room{{end}}">
                            <p class="calendar-cell">{{.CustomerName}}</p>
                            <p class="calendar-cell">{{.Type}}{{ if eq .Cymbals 1}} with hired cymbals{{else}}{{end}}</p>
                        </div>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/admin/date-picker-events.js"></script>
<script>
    window.addEventListener('load', function () {
        setAvailability();
    })
</script>
</div>
{{end}}
