{{template "layout.html.tmpl" .}}
{{ define "PageStyle"}}
style="background-color: #ACEEDB;"
{{end}}
{{define "body"}}

<h1>ADMIN: Update Codes</h1>
<div id="form-container" class="admin-view">
	<form id="update_code_form" method="POST" action="/" class="max-w-lg mx-auto p-6">
        <script src="/static/js/admin/form-submission.js"></script>
        <script src="/static/js/admin/random-code-generator.js"></script>
        <div style="padding: 15px 5px;">
            <label for="code-name">Code Name:</label>

            <select id="code-name" name="code-name" required style="width: auto;">
                <option value="" disabled selected>Please select code to change</option>
                {{ range .CodeNames }}
                    <option value="{{.CodeName}}">{{.CodeName}}</option>
                {{ end }}
            </select>
            <label for="code-value">Code Value:</label>
            <input type="text" id="code-value" name="code-value" pattern="\d{3,6}" title="Please enter a number between 3-6 digits long" required style="margin: 5px;">
            <label for="code-notes">Notes:</label>
            <input type="text" id="code-notes" name="code-notes" title="Notes" required style="margin: 5px;">
        </div>
        <!-- Submit Button -->
        <div class="submit-button">
            <button type="submit" id="submit-button">Confirm</button>
            <script>
                let form = document.getElementById('update_code_form')
                form.addEventListener('submit', async function (e) {
                    e.preventDefault()
                    adminUpdateCodes();
                });
            </script>
        </div>
    </form>
</div>
<div id="success" style="display: none;">
    <h1>Code Updated Successfully!</h1>
</div>
{{ end }}