{{template "layout.html.tmpl" .}}

{{define "body"}}
<h1>Bookings</h1>

<ol>
{{ range .Bookings }}
	<li>
		<h2>{{.CustomerName}}</h2>
		<form action="/admin/bookings/{{.Id}}" method="DELETE">
			<button>Delete</button>
		</form>
		<div>
			<p><span>Room:</span> {{.RoomName}}</p>
			<p><span>Start:</span> {{.StartTime}}</p>
			<p><span>End:</span> {{.EndTime}}</p>
		</div>
	</li>
{{ end }}
</ol>
{{end}}

