{{template "layout.html.tmpl" .}}

{{define "body"}}
<script defer src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>

<h1>Create a new booking</h1>

<form id="form" method="POST" action="/" class="max-w-lg mx-auto p-6">
   <!-- CSRF Protection -->
   <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

	 <div>
		 <label for="type">Type</label>
		 <select id="type" name="type" required>
		 	<option value="band">Band £12.00/h</option>
		 	<option value="solo">Solo £6.50/h</option>
		 </select>
	 </div>
   
   <!-- Customer Details -->
   <div class="mb-4">
       <label class="block mb-2" for="name">Full Name</label>
       <input type="text" 
              id="name"
              name="name" 
              pattern="[A-Za-z0-9 ]+" 
              class="w-full p-2 border rounded">
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="email">Email</label>
       <input type="email"
              id="email" 
              name="email"
              class="w-full p-2 border rounded">
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="phone">Phone</label>
       <input type="tel"
              id="phone"
              name="phone"
              pattern="[0-9]{11}"
              class="w-full p-2 border rounded">
   </div>

   <!-- Booking Details -->
   <div class="mb-4">
       <label class="block mb-2" for="room">Rehearsal Room</label>
       <select id="room"
               name="room"
               class="w-full p-2 border rounded">
           <option value="Room 1">Room 1</option>
           <option value="Room 2">Room 2</option>
       </select>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="date">Date</label>
       <input type="date"
              id="date"
              name="date"
              class="w-full p-2 border rounded">
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="start_time">Start Time</label>
       <input type="time"
              id="start_time"
              name="start_time"
              class="w-full p-2 border rounded">
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="duration">Duration (hours)</label>
       <select id="duration"
               name="duration"
               class="w-full p-2 border rounded">
           <option value="1">1 hour</option>
           <option value="2">2 hours</option>
           <option value="3">3 hours</option>
           <option value="4">4 hours</option>
           <option value="5">5 hour</option>
           <option value="6">6 hours</option>
           <option value="7">7 hours</option>
           <option value="8">8 hours</option>
       </select>
   </div>

	 <div>
		<script>
			window.addEventListener('load', function () {
				let type = document.getElementById('type')
				let duration = document.getElementById('duration')

				function updatePrice() {
					let price = document.getElementById('price')
					switch (type.value) {
						case 'solo':
							price.textContent = `£${(parseInt(duration.value, 10) * 6.50).toFixed(2)}`
							break;
						case 'band':
							price.textContent = `£${(parseInt(duration.value, 10) * 12.00).toFixed(2)}`
							break;
					}
				}

				type.addEventListener('change', updatePrice)
				duration.addEventListener('change', updatePrice)
				updatePrice()
			})
		</script>
		<span>Price:</span>
		<span id="price">£0.00</span>
	 </div>

	<script>
		window.addEventListener('load', function () {
			let form = document.getElementById('form')
			form.addEventListener('submit', async function (e) {
				e.preventDefault()

				// create held booking
				let bookingResponse = await fetch('/bookings', {
					method: 'POST',
					body: JSON.stringify({
						type: document.getElementById('type').value,
						name: document.getElementById('name').value,
						email: document.getElementById('email').value,
						phone: document.getElementById('phone').value,
						room: document.getElementById('room').value,
						date: document.getElementById('date').value,
						start_time: document.getElementById('start_time').value,
						duration: parseInt(document.getElementById('duration').value, 10),
					}),
					headers: {
						'Content-Type': 'application/json'
					}
				})

				if (!bookingResponse.ok) {
					alert("Can't book ", document.getElementById('room').value, " at that time!")
					return
				}

				let booking = await bookingResponse.json()

				// create charge
				let checkoutResponse = await fetch('/sumup/checkouts', {
					method: 'POST',
					body: JSON.stringify({
						amount: parseFloat(document.getElementById('price').textContent.replace('£', '')),
						checkout_reference: `booking-${booking.id}`
					}),
					headers: {
						'Content-Type': 'application/json'
					}
				})

				if (!checkoutResponse.ok) {
					alert("Payment provider failed, please reach out!")
					return
				}

				let checkout = await checkoutResponse.json()

				// open sumup UI
				SumUpCard.mount({
					id: 'sumup-card',
					checkoutId: checkout.id,
					onResponse: async function (type, body) {
						switch (type) {
							case "sent":
								break;
							case "success":
								// TODO: Confirm booking
								let confirmBookingResponse = await fetch(`/bookings/${booking.id}/confirm`, {
									method: 'POST',
									body: JSON.stringify(body),
									headers: {
										'Content-Type': 'application/json'
									}
								})

								// TODO: Display success, perhaps redirect?
								document.getElementById('sumup-card').style.display = "none"
								document.getElementById('success').style.display = "block"
								break;
							case "error":
								// TODO: Handle error
								break;
						}
					}
				})
			})
		})
	</script>
   <button type="submit"
	 					id="submit"
           class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
       Book Room
   </button>
</form>
<div id="sumup-card"></div>
<div id="success" style="display: none">
	<h1>Booking Successful! You should recieve a text and email comfirming your booking shortly.</h1>
</div>
{{end}}
