{{template "layout.html.tmpl" .}}

{{define "body"}}
<script defer src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>
<h1>Create a new booking</h1>
<div>
	<form id="form" method="POST" action="/" class="max-w-lg mx-auto p-6">
		<script src="/static/js/select-button.js"></script>
		<!-- CSRF Protection -->
		<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
		
		<!-- Step 1: Rehearsal Type, Date & Timeslot Selection -->
		<fieldset id="step-1" class="step">
			<h1>YOUR BOOKING DETAILS</h1>

			<!-- Session Type Selection -->
			<div id="session-types">
				<h3>Select your session type:</h3>
				<!--  Toggle buttons for selecting solo or band sessions -->
				<div id="session-type-container">
					<button type="button" class="toggle-button selected" data-value="band" onclick="selectButton(this)">Band</button>
					<button type="button" class="toggle-button" data-value="solo" onclick="selectButton(this)">Solo</button>

					<!-- Hidden input to store the selected session type -->
					<input type="hidden" id="session-type" name="type" value="band">
				</div>
			
				<!-- Session type information box -->
				<div id="info-box" class="info-box">
					<p>Rehearsal session for up to six people</p>
				</div>
			</div>

			<!-- Date Selection -->
			<div class="date-selection">
				<h3>Pick your date:</h3>
				<!--  Date picker for booking -->
				<div class="date-picker-container">
					<button type="button" id="prev-day">← Previous Day</button>
					<input type="date" id="date-input" name="date">
					<button type="button" id="next-day">Next Day →</button>
					<script src="/static/js/date-picker-functions.js"></script>
					<script src="/static/js/date-picker-events.js"></script>
				</div>
			</div>

			<!-- Time & Room Selection -->
			<div class="time-selection">
				<div class="time-selection-header">
				<h3>Select your timeslot</h3>
				<button type="button" class="info-toggle-btn" onclick="toggleInfoBox()">ℹ</button>
				</div>
				<div class="info-box" id="timeslotinfo">
					<button  type="button" class="info-toggle-btn" onclick="toggleInfoBox()">X</button>
					<strong>How to select your timeslots:</strong>
					<p>Click on your desired start time in the room of your choice, and then click on the desired end time. This will then select all the hours inbetween your start and end time.</p>
					<p>If a timeslot is greyed out this means that the room is not available.</p>
					<script>
						function toggleInfoBox() {
							const box = document.getElementById('timeslotinfo');
							if (box.style.display === 'none' || box.style.display === '') {
								box.style.display = 'block';
							} else {
								box.style.display = 'none';
							}
						}
					</script>
				</div>
				<div id="time-slot-container">
					<table>
						<thead>
							<tr>
								<th>Hour</th>
								<th>Room 1</th>
								<th>Room 2</th>
							</tr>
						</thead>
						<tbody>
							<!-- Time slots are generated here -->
							<script src="/static/js/timeslot-table.js"></script>
							<script src="/static/js/timeslot-availability.js"></script>
							<script src="/static/js/timeslot-selections.js"></script>
						</tbody>
					</table>

					<!-- Hidden input to store the room, start & end times -->
					<input type="hidden" id="start-time" name="start-time">
					<input type="hidden" id="end-time" name="end-time">
					<input type="hidden" id="room" name="room">
					<h3>Additional Equipment</h3>
					<div>
						<input type="checkbox" class="cymbals" id="cymbals">
						<label for="cymbals" class="cymbals">Cymbals - £3 Surcharge</label>
					</div>
					<div id="booking-summary">
						<!-- Display Booking Details -->
						<h3>Your Booking:</h3>
						<div class="summary-room customer-info"></div>
						<div class="summary-date customer-info"></div>
						<div class="summary-time customer-info"></div>
					</div>
				</div>
			</div>

			<br>
			<br>
			<br>
			<br>
			<br>

			<!-- Price Calculations-->
			<div id="book-now" class="floating-box">
				<script src="/static/js/price-calculator.js"></script>
				<span>BOOK NOW:</span>
				<span id="price" class="price">£0.00</span>
			</div>
		</fieldset>

		<!-- Step 2 - Customer Details -->
		<fieldset id="step-2" class="step hidden">
			<h1>YOUR PERSONAL DETAILS</h1>
			<h3>Enter your contact details:</h3>
			<div class="customer-info">
				<label for="name">Full Name</label>
				<input type="text" 
						id="name"
						name="name" 
						pattern="[A-Za-z0-9 ]+"
						autocomplete="name">
			</div>

			<div class="customer-info">
				<label for="email">Email</label>
				<input type="email"
						id="email" 
						name="email"
						autocomplete="email" 
						required>
			</div>

			<div class="customer-info">
			<label for="phone">Phone</label>
			<input type="tel"
					id="phone"
					name="phone"
					pattern="[0-9]{11}"
					autocomplete="tel"
					required>
			</div>

			<br>
			<hr>

			<div id="booking-details">
				<!-- Display Booking Details -->
				<h3>Additional booking details:</h3>
				<div class="customer-info">
					<label for="booking-notes">Booking Notes:</label>
					<textarea id="booking-notes" rows="6" placeholder="Type your message here..."></textarea>
				</div>
			</div>

			<br>
			<hr>

			<div id="booking-summary">
				<!-- Display Booking Details -->
				<h3>Your Booking:</h3>
				<div class="summary-room customer-info"></div>
				<div class="summary-date customer-info"></div>
				<div class="summary-time customer-info"></div>
				<div class="summary-price customer-info price"></div>
			</div>
			<!-- Back Button -->
			<button type="button" id="back-step-1" >
				BACK
			</button>

			<button type="button" id="pay-now">
				PAY NOW
			</button>
		</fieldset>

		<!-- Step 3: Final Confirmation & Payment -->
		<fieldset id="step-3" class="step hidden">
			<h1>CONFIRM & PAY</h1>
			<div id="booking-summary">
				<!-- Display Booking Details -->
				<h3>Your Booking:</h3>
				<div class="summary-room customer-info"></div>
				<div class="summary-date customer-info"></div>
				<div class="summary-time customer-info"></div>
				<div class="summary-price customer-info price"></div>
			</div>
			<br>
			<hr>
			<div id="customer-summary">
				<div id="customer-email"></div>
				<div id="customer-phone"></div>
			</div>
			<br>
			<hr>

			<!-- Back Button -->
			<button type="button" id="back-step-2">
				Back
			</button>
			<button type="submit">
				Confirm & Pay
			</button>
			<!-- SumUp Payment Gateway -->
			<div id="sumup-card"></div>
			
		</fieldset>
		<script src="/static/js/form-submission.js"></script>
		<script src="/static/js/payment-submission.js"></script>
	</form>
<div id="success" style="display: none">
	<h1>Booking Successful! You should recieve a text and email comfirming your booking shortly.</h1>
</div>
<script src="/static/js/navigation.js"></script>
{{end}}
