<h1>Create a new booking</h1>

<form method="POST" action="/" class="max-w-lg mx-auto p-6">
   <!-- CSRF Protection -->
   <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
   
   <!-- Customer Details -->
   <div class="mb-4">
       <label class="block mb-2" for="name">Full Name</label>
       <input type="text" 
              id="name"
              name="name" 
              pattern="[A-Za-z0-9 ]+" 
              class="w-full p-2 border rounded"
              required>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="email">Email</label>
       <input type="email"
              id="email" 
              name="email"
              class="w-full p-2 border rounded"
              required>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="phone">Phone</label>
       <input type="tel"
              id="phone"
              name="phone"
              pattern="[0-9]{10}"
              class="w-full p-2 border rounded"
              required>
   </div>

   <!-- Booking Details -->
   <div class="mb-4">
       <label class="block mb-2" for="room">Rehearsal Room</label>
       <select id="room"
               name="room_id"
               class="w-full p-2 border rounded"
               required>
           <option value="Room 1">Room 1</option>
           <option value="Room 2">Room 2</option>ww
       </select>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="date">Date</label>
       <input type="date"
              id="date"
              name="date"
              class="w-full p-2 border rounded"
              required>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="start_time">Start Time</label>
       <input type="time"
              id="start_time"
              name="start_time"
              class="w-full p-2 border rounded"
              required>
   </div>

   <div class="mb-4">
       <label class="block mb-2" for="duration">Duration (hours)</label>
       <select id="duration"
               name="duration"
               class="w-full p-2 border rounded"
               required>
           <option value="1">1 hour</option>
           <option value="2">2 hours</option>
           <option value="3">3 hours</option>
           <option value="4">4 hours</option>
           <option value="5">5 hour</option>
           <option value="6">6 hours</option>
           <option value="7">7 hours</option>
           <option value="8">8 hours</option>
       </select>
   </div>

   <button type="submit" 
           class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
       Book Room
   </button>
</form>
