{{template "layout.html.tmpl" .}}

{{define "body"}}
<div style="display: flex; justify-content:space-between; align-items: center;">
	<div style="display: flex; justify-content:left; align-items: center;">
		<a href="https://badhabitstudios.co.uk/" target="_blank"><img src="/static/images/favicon.png" alt="Logo" class="logo"/></a>
		<h2 class="logo-text">YOUR KITTED-OUT REHEARSAL & RECORDING STUDIOS <br> IN THE HEART OF EASTBOURNE</h2>
	</div>
	<a href="https://badhabitstudios.co.uk/" target="_blank" class="logo-text">WEBSITE ➚</a>
</div>
<h1 id="page-header">Create a new booking</h1>
<div id="form-container">
	<form id="form" method="POST" action="/" class="max-w-lg mx-auto p-6">
		<script src="/static/js/booking-summaries.js"></script>
		<script src="/static/js/select-button.js"></script>
		<script src="static/js/refresh-alert.js"></script>
		<!-- CSRF Protection -->
		<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
		
		<!-- Step 1: Rehearsal Type, Date & Timeslot Selection -->
		<fieldset id="step-1" class="step">
			<h1>YOUR BOOKING DETAILS</h1>

			<!-- Session Type Selection -->
			<div id="session-types">
				<h3>Select your session type:</h3>
				<!--  Toggle buttons for selecting solo or band sessions -->
				<div id="session-type-container">
					<button type="button" class="toggle-button selected" data-value="band" onclick="selectButton(this)">Band</button>
					<button type="button" class="toggle-button" data-value="solo" onclick="selectButton(this)">Solo</button>

					<!-- Hidden input to store the selected session type -->
					<input type="hidden" id="session-type" name="type" value="band">
				</div>
			
				<!-- Session type information box -->
				<div id="info-box" class="info-box">
					<p>Rehearsal session for up to six people.</p>
					<p style="font-style: oblique;" class="explainer-text">£12 per hour for bookings under 4 hours, £10 per hour for 4+ hours, £100 for all day bookings (9+ hours) </p>	
				</div>
			</div>

			<!-- Date Selection -->
			<div class="date-selection">
				<h3>Pick your date:</h3>
				<!--  Date picker for booking -->
				<div class="flex-container">
					<button type="button" id="prev-day">← Previous Day</button>
					<input type="date" id="date-input" name="date" onclick="this.showPicker()">
					<button type="button" id="next-day">Next Day →</button>
				</div>
			</div>
			
			<!-- Time & Room Selection -->
			<div class="time-selection">
				<div class="time-selection-header">
					<h3 style="margin-bottom: 2px;">Select your timeslot:</h3>
					<div style="display: flex;">
						<p style="padding: 0px 10px 0px 0px; margin: 1px 0px;">ℹ️</p>
						<div>
							<p class="explainer-text">Click your desired start time & end time — the hours in between will then be selected.</p>
							<p class="explainer-text">Greyed-out slots mean the room is not available.</p>
						</div>
					</div>
				</div> 
				<div id="time-slot-container">
					<table>
						<colgroup>
							<col style="width: 40%;">
							<col style="width: 30%;">
							<col style="width: 30%;">
						</colgroup>
						<thead>
							<tr>
								<th class="date-header"></th>
								<th colspan="2" id="selected-date" class="date-header"><span id="formatted-date"></span></th>
							</tr>
							<tr>
								<th>Hour</th>
								<th>
									Room 1 <a href="https://badhabiteastbourne.co.uk/room1/" target="_blank" class="room-link" title="Click for room specs"> ➚ </a>
								</th>
								<th>
									Room 2 <a href="https://badhabiteastbourne.co.uk/room2/" target="_blank" class="room-link" title="Click for rooms specs"> ➚ </a>
								</th>
							</tr>
						</thead>
						<tbody>
							<!-- Time slots are generated here -->
							<script src="/static/js/date-picker-functions.js"></script>
							<script src="/static/js/date-picker-events.js"></script>
							<script src="/static/js/timeslot-table.js"></script>
							<script src="/static/js/timeslot-availability.js"></script>
							<script src="/static/js/timeslot-selections.js"></script>
						</tbody>
					</table>

					<!-- Hidden input to store the room, start & end times -->
					<input type="hidden" id="start-time" name="start-time">
					<input type="hidden" id="end-time" name="end-time">
					<input type="hidden" id="room" name="room">
					<h3>Additional Equipment</h3>
					<div>
						<input type="checkbox" class="cymbals" id="cymbals">
						<label for="cymbals" class="cymbals">Cymbals - £3 Surcharge</label>
					</div>
					<div id="booking-summary">
						<!-- Display Booking Details -->
						<h3>Your Booking:</h3>
						<div class="summary-room customer-info"></div>
						<div class="summary-type customer-info"></div>
						<div class="summary-date customer-info"></div>
						<div class="summary-time customer-info"></div>
						<div class="summary-cymbals customer-info"></div>
					</div>
				</div>
			</div>

			<br>
			<br>
			<br>

			<!-- Price Calculations-->
			<div id="book-now" class="floating-box">
				<script src="/static/js/price-calculator.js"></script>
				<span>BOOK NOW:</span>
				<span id="price" class="price">£0.00</span>
			</div>
		</fieldset>

		<!-- Step 2 - Customer Details -->
		<fieldset id="step-2" class="step hidden">
			<h1>YOUR PERSONAL DETAILS</h1>
			<div>
			<h3>Enter your contact details:</h3>
				<div class="customer-info">
					<label for="name">Full Name</label>
					<input type="text" 
							id="name"
							name="name" 
							autocomplete="name"
							required>
				</div>

				<div class="customer-info">
					<label for="email">Email</label>
					<input type="email"
							id="email" 
							name="email"
							autocomplete="email" 
							required>
				</div>

				<div class="customer-info">
				<label for="phone">Phone</label>
				<input type="tel"
						id="phone"
						name="phone"
						autocomplete="tel"
						required>
				</div>
			</div>
			<br>
			<hr>

			<div id="booking-details">
				<!-- Display Booking Details -->
				<h3>Additional booking details:</h3>
				<div class="customer-info">
					<label for="booking-notes">Booking Notes:</label>
					<textarea id="booking-notes" rows="6" placeholder="Type your message here..."></textarea>
				</div>
			</div>

			<br>
			<hr>

			<div id="booking-summary">
				<!-- Display Booking Details -->
				<h3>Your Booking:</h3>
				<div class="summary-room customer-info"></div>
				<div class="summary-type customer-info"></div>
				<div class="summary-date customer-info"></div>
				<div class="summary-time customer-info"></div>
				<div class="summary-cymbals customer-info"></div>
				<div class="summary-price customer-info price"></div>
			</div>
			<!-- Back Button -->
			<button type="button" id="back-step-1" >
				BACK
			</button>

			<button type="button" id="pay-now">
				PAY NOW
			</button>

		</fieldset>

		<!-- Step 3: Final Confirmation & Payment -->
		<fieldset id="step-3" class="step hidden">
			<h1>CONFIRM & PAY</h1>
			<div id="booking-summary">
				<!-- Display Booking Details -->
				<h3>Your Booking:</h3>
				<div class="summary-room customer-info"></div>
				<div class="summary-type customer-info"></div>
				<div class="summary-date customer-info"></div>
				<div class="summary-time customer-info"></div>
				<div class="summary-cymbals customer-info"></div>
				<div class="summary-price customer-info price"></div>
			</div>
			<br>
			<hr>
			<div id="customer-summary">
				<div id="customer-email"></div>
				<div id="customer-phone"></div>
			</div>
			<br>
			<hr>
			<div id="step-3-buttons">
				<!-- Back Button -->
				<button type="button" id="back-step-2">
					Back
				</button>
				<button type="submit" id="confirm">
					Confirm
				</button>
			</div>
			<!-- Payment Gateway -->
			<div id="loading-icon" style="display: none; text-align: center; margin-top: 20px;">
				<p>Loading payment form...</p>
				<img src="/static/images/loading-icon.gif" alt="Loading..." style="width: 50px; height: 50px;">
			</div>
			{{ $provider := Getenv "FEATURE_FLAG_PAYMENTS_PROVIDER" }}
			{{ if eq $provider  "sumup" }}
				<div id="payment-gateway" style="display: none;"></div>
				<script src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>
				<script src="/static/js/sumup-form-submission.js"></script>
			{{ else if eq $provider "stripe" }}
				<div id="stripe-form" style="display: none;">
					<div>
						<div id="payment-gateway" style="margin-top: 2em; margin-bottom: 1em;"></div>
						<button id="stripe-submit">Pay: </button>
					</div>
					<div id="payment-concessions" style="display: none; font-style: oblique;">
						<br>
						<p>We understand that paying online is not always an option for everyone. If you are unable to pay online, feel free to reach out to us directly and we will review other payment options on a case by case basis.</p>
					</div>
				</div>
				<script src="https://js.stripe.com/v3/"></script>
				<script>
					window.env = {
						STRIPE_PUBLISHABLE_KEY: '{{ Getenv "STRIPE_PUBLISHABLE_KEY" }}',
					}
				</script>
				<script src="/static/js/stripe-form-submission.js"></script>
			{{ end }}
			
		</fieldset>
	</form>
</div>
<div id="success" style="display: none">
	<h1>Booking Successful! You will recieve an email confirming your booking shortly.</h1>
	<button onclick="window.location.href='/'" style="flex: 0;">NEW BOOKING</button>
	<button onclick="window.location.href='https://badhabiteastbourne.co.uk/'" style="flex: 0;">BACK TO badhabiteastbourne.co.uk</button>
</div>
<div class="social-links">
<p>If you have any issues, please reach out to us on 07496 983 488 or on socials linked below.</p>
</div>
<div class="social-links">
	<a href="https://www.instagram.com/badhabiteastbourne" target="_blank" aria-label="Instagram">
		<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M7 2C3.686 2 1 4.686 1 8V16C1 19.314 3.686 22 7 22H17C20.314 22 23 19.314 23 16V8C23 4.686 20.314 2 17 2H7ZM7 4H17C19.209 4 21 5.791 21 8V16C21 18.209 19.209 20 17 20H7C4.791 20 3 18.209 3 16V8C3 5.791 4.791 4 7 4ZM17.5 6C16.6716 6 16 6.67157 16 7.5C16 8.32843 16.6716 9 17.5 9C18.3284 9 19 8.32843 19 7.5C19 6.67157 18.3284 6 17.5 6ZM12 7C9.239 7 7 9.239 7 12C7 14.761 9.239 17 12 17C14.761 17 17 14.761 17 12C17 9.239 14.761 7 12 7ZM12 9C13.657 9 15 10.343 15 12C15 13.657 13.657 15 12 15C10.343 15 9 13.657 9 12C9 10.343 10.343 9 12 9Z"/>
		</svg>
	</a>
	<a href="https://wa.me/7496983488" target="_blank" aria-label="WhatsApp">
		<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 2C6.486 2 2 6.486 2 12C2 13.93 2.544 15.712 3.478 17.197L2 22L6.931 20.565C8.378 21.466 10.099 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C10.42 20 8.91 19.577 7.585 18.798L7.226 18.597L4 19.5L4.963 16.569L4.776 16.221C3.87 14.737 3.5 13.193 3.5 12C3.5 7.858 7.858 3.5 12 3.5C16.142 3.5 20.5 7.858 20.5 12C20.5 16.142 16.142 20 12 20ZM16.5 14.5C16.2 14.2 14.928 13.258 14.614 13.072C14.3 12.886 14.2 12.843 14 13C13.8 13.157 13.2 13.643 13 13.843C12.8 14.043 12.5 14.1 12.2 14C10.3 13.3 9 11.9 8.5 11C8.3 10.7 8.4 10.4 8.6 10.2C8.8 10 9.157 9.529 9.357 9.329C9.557 9.129 9.5 9 9.3 8.8C9.1 8.6 8.5 7.7 8.2 7.3C7.9 6.9 7.7 6.9 7.5 7C6.9 7.2 6.1 7.7 5.9 8C5.5 8.5 5 9.5 5 10.7C5 12.4 6.2 14.2 6.6 14.7C7 15.2 9.2 17 12 17C13.5 17 14.5 16.5 15 16C15.5 15.5 16.8 14.8 16.5 14.5Z"/>
		</svg>
	</a>
	<a href="https://www.facebook.com/badhabiteastbourne" target="_blank" aria-label="Facebook">
		<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M22 12C22 6.486 17.514 2 12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22V14H9V12H12V9.5C12 7.567 13.567 6 15.5 6H18V8H16C15.448 8 15 8.448 15 9V12H18V14H15V22C19.514 22 22 17.514 22 12Z"/>
		</svg>
	</a>
	<a href="mailto:hello@badhabiteastbourne.co.uk" target="_blank" aria-label="Email">
		<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 4V20H22V4H2ZM20 6V8L12 13L4 8V6L12 11L20 6ZM4 18V10L12 15L20 10V18H4Z"/>
		</svg>
	</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="/static/js/navigation.js"></script>
{{end}}
