body {
    font-family: 'Courier', sans-serif;
    margin: 20px;
}

.hidden {
    display: none;
}

/* BUTTONS */
button {
    font-family: 'Impact Label Reversed', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: black;  
    border: 2px solid black; /* Bold black border for a label maker feel */
    border-radius: 0; /* Sharp edges */
    box-shadow: 2px 2px 0px black; /* Add a shadow for a raised effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;  /* Add transitions for a smooth effect */
    padding: 10px 15px;
    margin: 5px;        
    flex: 1;
}

button:hover:not(:disabled) {
    background-color: lightgrey; /* Slightly darker on hover */
    box-shadow: 3px 3px 0px black; /* Larger shadow for hover effect */
}

button:active:not(:disabled) {
    transform: translate(2px, 2px); /* Pressed-in effect */
    box-shadow: 1px 1px 0px black; /* Smaller shadow when pressed */
}

button:disabled {
    background-color: #e0e0e0; /* Light gray for disabled state */
    border-color: #bbb; /* Muted border for disabled state */
    box-shadow: none; /* No shadow for disabled state */
    cursor: not-allowed;  /* Not-allowed cursor for disabled state */
}

/* session selector buttons */
#session-type-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allows children to grow and take up available space */
    width: 100%; /* Full width */
    height: 100%;
    justify-content: space-between; /* Distribute space between elements */
    align-items: stretch; /* Stretch items to fill the container height */
    margin-bottom: 0px; /* so that the information box is flush with the buttons */
}

.toggle-button.selected {
    background-color: black;
    color: white;
    border-color: black;
    margin-bottom: 0px;
    box-shadow: none; /* No shadow for selected state */

}

.info-box {
    margin: 5px;
    margin-top: 0px; /* so that the information box is flush with the buttons */
    padding: 10px;
    background-color: black;
    color: white;
    border-color: black;
}

 /* date selectors */
.date-picker-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allows children to grow and take up available space */
    width: 100%; /* Full width */
    height: 100%;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    gap: 10px;
}

#date-input {
    font-family: 'Impact Label Reversed', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4; /* Slightly off-white background */
    text-align: center;
    color: black;
    border: 2px solid black; /* Bold black border for a label maker feel */
    border-radius: 0; /* Sharp edges */
    box-shadow: 2px 2px 0px black; /* Add a shadow for a raised effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 400px;
    padding: 10px;
}

#date-input.animate {
    background-color:lightgrey; /* Highlight color */
    transform: scale(1.02);
}

#date-input:focus {
    box-shadow: 2px 2px 4px black; /* Slightly larger shadow on focus */
    background-color: #fff; /* Brighter background on focus */
}

/* Time table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

th {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

td.selected {
    background-color: grey;
    color: white;
}
