body {
    font-family: 'Courier', sans-serif;
    margin: 20px;
}

.hidden {
    display: none;
}

@font-face {
    font-family: impact_label_reversed; /*a name to be used later*/
    src: url('fonts/Impact_Label_Reversed-webfont.woff')  format('woff'); /*URL to font*/
}
/* BUTTONS */
button {
    font-family: 'impact_label_reversed', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4;
    color: black;  
    border: 2px solid black; /* Bold black border for a label maker feel */
    border-radius: 0; /* Sharp edges */
    box-shadow: 2px 2px 0px black; /* Add a shadow for a raised effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;  /* Add transitions for a smooth effect */
    padding: 10px 15px;
    margin: 5px;        
    flex: 1;
}

button:hover:not(:disabled) {
    background-color: lightgrey; /* Slightly darker on hover */
    box-shadow: 3px 3px 0px black; /* Larger shadow for hover effect */
}

button:active:not(:disabled) {
    transform: translate(2px, 2px); /* Pressed-in effect */
    box-shadow: 1px 1px 0px black; /* Smaller shadow when pressed */
}

button:disabled {
    background-color: #e0e0e0; /* Light gray for disabled state */
    border-color: #bbb; /* Muted border for disabled state */
    box-shadow: none; /* No shadow for disabled state */
    cursor: not-allowed;  /* Not-allowed cursor for disabled state */
}

/* FORMS */
select{
    display: block;
    text-align: left;
    width: 150px;
    border: #b0b0b0 solid 1.5px;
    border-radius: 2px;
    margin: 5px;
    padding: 8px;
}

label {
    display: block;
    text-align: left;
    width: 300px;
    margin: 5px;
}

input, textarea {
    display: block;
    text-align: left;
    width: 300px;
    border: #b0b0b0 solid 1.5px;
    border-radius: 2px;
    margin: 5px;
    padding: 8px;
}​

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset { 
    min-inline-size:inherit;
}

.customer-info {
    margin: 16px 0px;
}


/* session selector buttons */
#session-type-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allows children to grow and take up available space */
    width: 100%; /* Full width */
    height: 100%;
    justify-content: space-between; /* Distribute space between elements */
    align-items: stretch; /* Stretch items to fill the container height */
    margin-bottom: 0px; /* so that the information box is flush with the buttons */
}

.toggle-button.selected {
    background-color: black;
    color: white;
    border-color: black;
    margin-bottom: 0px;
    box-shadow: none; /* No shadow for selected state */

}

.info-box {
    margin: 5px;
    margin-top: 0px; /* so that the information box is flush with the buttons */
    padding: 10px;
    background-color: black;
    color: white;
    border-color: black;
}

 /* date selectors */
.date-picker-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allows children to grow and take up available space */
    width: 100%; /* Full width */
    height: 100%;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    gap: 10px;
}

input[type="date"] {
    -webkit-appearance: none !important;
}

.cymbals {
    display: inline;
    width: auto;
}

#date-input {
    font-family: 'impact_label_reversed', sans-serif;
    font-size: 20px;
    background-color: #f4f4f4; /* Slightly off-white background */
    text-align: center;
    color: black;
    border: 2px solid black; /* Bold black border for a label maker feel */
    border-radius: 0; /* Sharp edges */
    box-shadow: 2px 2px 0px black; /* Add a shadow for a raised effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 10px;
}

#date-input.animate {
    background-color:lightgrey; /* Highlight color */
    transform: scale(1.02);
}

#date-input:focus {
    box-shadow: 2px 2px 4px black; /* Slightly larger shadow on focus */
    background-color: #fff; /* Brighter background on focus */
}

/* Time table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid lightgrey;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
th {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

td.unavailable {
    background-image: repeating-linear-gradient(45deg, white, white 2.5px, lightgray 2.5px, lightgray 5px);
    cursor: not-allowed; 
}

td.current-booking {
    background-color: goldenrod;
    background-image: none;
    cursor: pointer; 
}

td.grabbing {
    cursor: grabbing;
}

td.selected {
    background-color: grey;
}

td.start-slot {
    background-color: #b7b7b7;
}

td.end-slot {
    background-color: #636262;
}

/* Floating box */
.floating-box {
    position: fixed;
    margin: 5px 0px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8f9fa;
    color: grey;
    padding: 10px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
    text-align: center;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: not-allowed;
}

.floating-box.enabled:hover {
    background-color: lightgrey;
    color: black;
    box-shadow: 3px 3px 0px black;
}

.floating-box.enabled:active {
    transform: translate(-50%, 2px); /* Relative to its centered position */
    box-shadow: 0 1px 0px grey; /* Minimal shadow for pressed state */
    background-color: white;
    color: black;
    border-color: black;
}

.floating-box.enabled {
    background-color: black;
    color: white;
    border-color: black;
    cursor: pointer;
}

/* Time slot info */
#timeslotinfo {
    display: none;
}

.info-toggle-btn {
    font-size: small;
    padding: 2px;
    height: min-content;
    width: min-content;
}

.time-selection-header {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

/* Responsive design */
@media (max-width: 768px) {
    #session-type-container {
        flex-direction: column;
    }
    button:hover:not(:disabled) {
        background-color: none; 
        box-shadow: none; 
    }
    .info-box {
        margin-top: 5px;
    }
    .date-picker-container {
        flex-direction: column;
    }
    .date-picker-container > * {
        flex: 1;
        width: 100%;
        margin: 5px 0;
        box-sizing: border-box;
    }
    .time-slot-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .floating-box {
        width: 50%;
        font-size: x-large;
    }
    
}


/*  ADMIN PANEL */
.bookings-panel {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: lightsalmon;
    padding: 10px;
    margin: 10px 0px;
}

.bookings-panel.unpaid {
    background-color: lightsalmon;
}

.bookings-panel.paid {
    background-color: #AAF8C1;
}

.bookings-panel.update {
    background-color: #FFE686;
}

.bookings-panel.cancelled {
    background-color: #D1C3F3
    ;
}

.admin-panel {
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    width: 50%;
}

.bookings-table {
    padding: 2px;
    text-transform: uppercase;
}
